gymnasium
maturin
matplotlib
numba<=0.61
numpy
onnx
onnxruntime-gpu==1.26.0
onnxscript
open_spiel
pettingzoo
prettytable
pygame
pytest
pyyaml
tensorflow
torch
wandb
sb3_contrib
stable_baselines3
pydantic
pydantic-yaml
fastapi
uvicorn
httpx