torch
pycocotools
opencv-python
huggingface-hub==0.24.6
pytest
transformers
Pillow
accelerate
mlflow
psutil # So that mlflow can log system metrics
pynvml # So that mlflow can log GPU metrics
ffmpeg-python  # To extract video recording time from mp4 file

# install this one manually
# -e ../external/segment-anything-2